VITE_SUPABASE_URL=https://tlneqawnaifeipudbwjq.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_HtzmJ9d-NTPVUfUByceSbw_PtajHP1A
VITE_VAPID_PUBLIC_KEY=BP0hZFBqEATCuSp6r9q52vA7sqGhb0Hkc7j1Keix9hBApQsDjcWX3pKdW9fJfK9FXlbNe0TA2WAJDQ38CvHBL_w
